.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.VideoChat button  {
    background-color: rgb(49, 164, 221);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

.VideoChat input {
  width: 300px;
  height: 45px;
  margin: 10px 2px;
  text-align: center;
}

.VideoChat p {
  margin : 10px;
  font-weight: bold;
  font-size: 20px;
}