.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 40px;
}
.each-fade{
  height: 700px;
  
    }
.each-fade img{
      width: 100%;
    }

.Navbar-text {
  color: white;
  font-size : 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.navbar {
  color: white;
  font-size : 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  background: black;
  padding-top:2px;
  padding-bottom:0 ;
}

.shariklogo {
  font-size : 36px;
}


