.pic{
    width: 200px;
    height: 120px;
}

/* resize images */
.pic img {
    width: 100%;
    height: auto;
}


.dashbored{
    font-size : 17px;
    font-weight: bold;
}


.number{
width: auto;
min-width: 30px;
padding: 10px;
}