.pic{
    width: 100%;
    height: 400px; 
}

/* resize images */
.pic img {
    width: 100%;
    height: 100%;
}


.dashbored{
    font-size : 17px;
    /* font-weight: bold; */
    color :rgb(49, 164, 221)
}


.number{
width: auto;
min-width: 30px;
padding:5px 5px 5px;
background-color :rgb(49, 164, 221)

}

.mainLinks {
    margin-top: 20px;
    width:100%;
    height:auto;
    padding:5px 15px 5px;
    display:flex;
    background-color: rgba(101, 70, 82, 0.05);
    box-shadow: rgba(0,0,0,0.1) 0px 1px 10px;
    top:0;
    left: 0;
}

