.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    float: left;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.teacherVideo {
    width: 30rem;
    height: 30rem;
    margin-left: 30px;
}
 
.teacherPic{
    width: 100%;
}

.teacherSearch{
    margin-top: 3%;
    width: 40%;
    margin-left: 100px;
    
   }

.btnProfile {
    background-color:rgb(49, 164, 221);
    color : black;
    padding: 6px 30px;
}